@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');

.filters {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 20px 0px 20px;
    height: 800px;
}

.title{
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: rgba(57, 59, 64, 1);
    text-align: left;
}

.clear_filters{
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-style: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}